* {
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}

.container {
  width: 95%;
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1199px) and (max-width: 1359px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row--reverse {
  flex-direction: row-reverse;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .row--sm-reverse {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .row--md-reverse {
    flex-direction: column-reverse;
  }
}

.col-xl-4 {
  width: 33.3%;
}
.col-xl-5 {
  width: 41.7%;
}
.col-xl-6 {
  width: 50%;
}
.col-xl-7 {
  width: 58.3%;
}
.col-xl-8 {
  width: 66.7%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }
}

.baner {
  background-image: url("../assets/images/header.-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 862px;
  position: relative;
}
.baner .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.baner__title {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.baner__text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: #FFFFFF;
  margin-bottom: 48px;
}
.baner__search {
  width: 100%;
  max-width: 647px;
  background: #FFFFFF;
}
.baner .search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 5px 4px 36px;
}
.baner input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
}
.baner input::-moz-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
}
.baner input:-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
}
.baner input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
}
.baner button {
  border: 0;
  background: #5373FD;
  padding: 16px 24px;
  padding-right: 12px;
  cursor: pointer;
  color: #FFFFFF;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.baner button img {
  width: 16px;
  margin-right: 12px;
}
.baner__scroll {
  position: absolute;
  bottom: 14vh;
}
.baner__scroll a {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.baner__scroll p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin-bottom: 8px;
}
.baner__scroll span {
  width: 14px;
}

.header {
  background-color: #5373FD;
  padding: 32px 0;
}
.header__wraper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .header__wraper {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__wraper {
    flex-direction: column;
  }
}
.header__logo {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav ul li {
  display: inline-block;
  margin-right: 40px;
}
.header__nav ul li:last-child {
  margin-right: 0px;
}
.header__nav ul li a {
  text-decoration: none;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header .burger-button {
  display: none;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .header .burger-button {
    display: block;
  }
}
.header .burger-button__icon {
  display: flex;
  width: 40px;
  height: 24px;
  background: transparent;
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: #FFFFFF;
  font-size: 0;
  transition: all;
  position: relative;
}
.header .burger-button__icon::before, .header .burger-button__icon::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  transition: all;
  background: #FFFFFF;
}
.header input {
  display: none;
}
.header input:checked ~ .header__wraper .burger-button .burger-button__icon {
  border-color: transparent;
}
.header input:checked ~ .header__wraper .burger-button .burger-button__icon::before {
  transform: rotate(45deg);
}
.header input:checked ~ .header__wraper .burger-button .burger-button__icon::after {
  transform: rotate(-45deg);
}
.header input:checked ~ .header__wraper {
  flex-direction: column;
}
.header input:checked ~ .header__wraper .header__nav {
  display: block;
  width: 100%;
  margin-top: 64px;
}
.header input:checked ~ .header__wraper .header__nav li {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}
.header input:checked ~ .header__wraper .header__nav li:last-child {
  margin-bottom: 0;
}

.choose {
  background-image: url("../assets/images/why-background.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  padding: 124px 0;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .choose {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .choose {
    padding: 60px 0;
  }
}
.choose .description {
  width: 100%;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .choose .description {
    text-align: center;
  }
  .choose .description p {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .choose .description {
    text-align: center;
  }
  .choose .description p {
    margin-bottom: 24px;
  }
}
.choose .description h2 {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.choose .description p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 35px;
}
.choose .description .button {
  text-decoration: none;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5373FD;
  padding: 20px 32px;
  display: inline-block;
  background-image: url("../assets/images/bt.png");
  background-repeat: no-repeat;
}
.choose .description .button:hover {
  background-color: #486BFE;
}
.choose .gallery {
  display: flex;
  flex-direction: column;
  max-width: 424px;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .choose .gallery {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .choose .gallery {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}
.choose img {
  width: 100%;
  max-width: 350px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .choose img {
    width: 48%;
    max-width: 258px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .choose img {
    width: 48%;
    max-width: 350px;
  }
}
.choose .img-start {
  margin-bottom: 16px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .choose .img-start {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .choose .img-start {
    margin-bottom: 0;
  }
}
.choose .img-end {
  align-self: end;
}

.steps {
  background-color: #333333;
  padding: 107px 0 103px;
}
@media screen and (min-width: 1199px) and (max-width: 1359px) {
  .steps {
    padding: 122px 0 88px;
  }
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .steps {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .steps {
    padding: 60px 0;
  }
}
.steps__line {
  max-width: 872px;
  width: 66%;
  position: absolute;
  left: 17%;
  top: -46px;
}
@media screen and (min-width: 1199px) and (max-width: 1359px) {
  .steps__line {
    max-width: 752px;
  }
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .steps__line {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .steps__line {
    display: none;
  }
}
.steps__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .steps__wraper {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .steps__wraper {
    flex-direction: column;
  }
}
.steps .steps-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .steps .steps-item {
    width: 100%;
    margin-bottom: 75px;
  }
  .steps .steps-item:last-child {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .steps .steps-item {
    width: 100%;
    margin-bottom: 75px;
  }
  .steps .steps-item:last-child {
    margin-bottom: 60px;
  }
}
.steps .steps-item img {
  width: 96px;
  height: 96px;
  margin-bottom: 4px;
  padding: 16px;
  background-color: #333333;
  z-index: 2;
}
.steps .steps-item p {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.spain {
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  padding: 220px 0 120px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .spain {
    padding: 120px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .spain {
    padding: 120px 0;
  }
}
.spain .container {
  display: flex;
}
.spain--upper {
  background-image: url("../assets/images/section-3.jpg");
}
.spain--lower {
  background-image: url("../assets/images/section-4.jpg");
}
.spain--lower .container {
  flex-direction: row-reverse;
}
.spain .cta-wraper {
  background-color: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
  width: 100%;
  max-width: 558px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .spain .cta-wraper {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .spain .cta-wraper {
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .spain .cta-wraper {
    max-width: 550px;
  }
}
.spain .cta-wraper .description {
  width: 100%;
  margin-bottom: 24px;
}
.spain .cta-wraper .description span {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 16px;
  display: block;
}
.spain .cta-wraper .description h3 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.spain .cta-wraper .description p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.spain .cta-wraper .button {
  text-decoration: none;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5373FD;
  padding: 20px 57px;
  display: inline-block;
  background-image: url("../assets/images/bt.png");
  background-repeat: no-repeat;
}
.spain .cta-wraper .button:hover {
  background-color: #486BFE;
}

.reviews {
  background-image: url("../assets/images/reviews.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  padding: 120px 0 180px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .reviews {
    padding: 60px 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .reviews {
    padding: 60px 120px;
  }
}
.reviews__bg {
  background-color: #333333;
  align-items: stretch;
}
.reviews h2 {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 60px;
}
.reviews .thumb {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.reviews .thumb img {
  height: 100%;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .reviews .thumb img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .reviews .thumb img {
    width: 100%;
  }
}

.wraper {
  padding: 48px 60px;
}
.wraper h3 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 11px;
}
.wraper p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.footer {
  background-color: #000000;
}
.footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
}
.footer h2 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.footer p {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin-bottom: 22px;
}
.footer__nav ul li {
  display: inline-block;
  margin-right: 32px;
}
.footer__nav ul li:last-child {
  margin-right: 0px;
}
.footer__nav ul li a:hover svg path {
  fill: #5373FD;
}/*# sourceMappingURL=style.css.map */