@import '../partials/variables';
@import '../partials/mixins';

.steps {
    background-color: $grey;
    padding: 107px 0 103px;

    @include breakpoint(xl) {
        padding: 122px 0 88px;

    }

    @include breakpoint(sm) {
        padding: 60px 0;
    }

    @include breakpoint(md) {
        padding: 60px 0;
    }


    &__line {
        max-width: 872px;
        width: 66%;
        position: absolute;
        left: 17%;
        top: -46px;

        @include breakpoint(xl) {
            max-width: 752px;
        }


        @include breakpoint(sm) {
            display: none;
        }

        @include breakpoint(md) {
            display: none;
        }
    }

    &__wraper {
        @include flex-cen;
        justify-content: space-between;


        @include breakpoint(sm) {
            flex-direction: column;
        }

        @include breakpoint(md) {
            flex-direction: column;
        }
    }

    .steps-item {
        @include flex-cen;
        flex-direction: column;
        width: 33%;

        @include breakpoint(sm) {
            width: 100%;
            margin-bottom: 75px;

            &:last-child {
                margin-bottom: 60px;
            }
        }

        @include breakpoint(md) {
            width: 100%;
            margin-bottom: 75px;

            &:last-child {
                margin-bottom: 60px;
            }
        }

        img {
            width: 96px;
            height: 96px;
            margin-bottom: 4px;
            padding: 16px;
            background-color: $grey;
            z-index: 2;
        }

        p {
            @include aleo-title;
            color: $white;
        }
    }
}